@model IEnumerable<LibraryManagement.Areas.Identity.Data.LibraryManagementUser>

@{
    ViewData["Title"] = "Users";
}
<div class="row">
    <div class="col-sm-12 bg-light">
        <nav>
            <ul class="breadcrumb pt-2">
                <li class="breadcrumb-item"><strong>Users</strong></li>
            </ul>
        </nav>
    </div>
</div>
<div class="d-flex justify-content-end mt-2">
    <div class="col-sm-6">
        <form asp-action="SearchBooks" method="get" class="form-inline">
            <div class="form-group d-flex mx-sm-3 mb-2">
                <label for="searchQuery" class="sr-only"></label>
                <input type="text" class="form-control" id="searchQuery" name="query" placeholder="Search by first name, last name, phone number, or email" />
                <button type="submit" class="btn btn-primary btn-md">Search</button>
            </div>
        </form>
    </div>
</div>
<div class="container mt-2">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(user => user.FirstName)</th>
                <th>@Html.DisplayNameFor(user => user.LastName)</th>
                <th>@Html.DisplayNameFor(user => user.PhoneNumber)</th>
                <th>@Html.DisplayNameFor(user => user.Email)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.PhoneNumber</td>
                    <td>@user.Email</td>
                </tr>
            }
        </tbody>
    </table>
</div>